#meme-canvas {
    width: 300px;
}
textarea {
    border-radius: 5px;
    border-color: white solid;
}
textarea:hover {
    border-color: blue;
}
button, input {
    border-radius: 5px;
}
.container {
    text-align: center;
    margin-top: 30px;
    padding: 5px;
}